<div class="row">
  <div class="col-12 mt-5 mb-5">
    <h1>Welcome To The Forms Demo Application</h1>
    <h3>Tonight we are going to learn about Template Driven Forms and Reactive Forms within Angular</h3>
  </div>
  <div class="col-12 mt-5 mb-5">
    <button class="btn btn-succes mt-5 mb-5" routerLink="['login-td']">Login Form Template Driven</button>
    <button class="btn btn-succes mt-5 mb-5" routerLink="['login-reactive']">Login Form Reactive</button>
    <button class="btn btn-succes mt-5 mb-5" routerLink="['signup-td']">Signup Form Template Drive</button>
    <button class="btn btn-succes mt-5 mb-5" routerLink="['signup-reactive']">Signup Form Reactive</button>
  </div>
</div>
